			<!-- Header -->
      <section id="header">
        <div class="container">
          <div class="row">
            <div class="col-12">

              <!-- Logo -->
                <h1><a href="index.html" id="logo">YO LEO CON LORENZO</a></h1>

              <!-- Nav -->
                <nav id="nav">
                  <a href="index.html">INICIO</a>
                  <a href="threecolumn.html">SOBRE NOSOTROS</a>
                  <a href="twocolumn1.html">CONTACTOS</a>
                </nav>

            </div>
          </div>
        </div>
        <div id="banner">
          <div class="container">
            <div class="row">
              <div class="col-6 col-12-medium">

                <!-- Banner Copy -->
                  <p>We do something really useful, important, and unique. Learn all about it here ...</p>
                  <a href="#" class="button-large">ACCEDER</a>

              </div>
              <div class="col-6 col-12-medium imp-medium">

                <!-- Banner Image -->
                  <a href="#" class="bordered-feature-image"><img src="assets/imagenes/logo de la app.jpg" alt="" /></a>

              </div>
            </div>
          </div>
        </div>
      </section>